@model IEnumerable<DrinkShop.Domain.DomainModels.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <p class="mt-2">
        <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
    </p>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <a asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none">
                <div class="col-3">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <img class="card-img-top" src="@item.ProductImage" alt="Image">
                        <div class="card-header h-25">
                            <h6 class="text-white">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                            <h6 class="card-title text-danger d-inline">@Html.DisplayFor(modelItem => item.Price)ден.</h6>
                            <a class="btn btn-sm text-white float-right" style="background-color:#00ADB5"
                           asp-action="AddProductToCart" asp-route-id="@item.Id">+</a>
                        </div>
                        <div hidden>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>